<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QQFace</key>
	<array>
		<dict>
			<key>emjCodeID</key>
			<string>1</string>
			<key>emjStr</key>
			<string>[微笑]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/1</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>2</string>
			<key>emjStr</key>
			<string>[撇嘴]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/2</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>3</string>
			<key>emjStr</key>
			<string>[色]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/3</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>4</string>
			<key>emjStr</key>
			<string>[发呆]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/4</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>5</string>
			<key>emjStr</key>
			<string>[得意]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/5</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>6</string>
			<key>emjStr</key>
			<string>[流泪]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/6</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>7</string>
			<key>emjStr</key>
			<string>[害羞]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/7</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>8</string>
			<key>emjStr</key>
			<string>[闭嘴]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/8</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>9</string>
			<key>emjStr</key>
			<string>[睡]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/9</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>10</string>
			<key>emjStr</key>
			<string>[大哭]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/10</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>11</string>
			<key>emjStr</key>
			<string>[尴尬]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/11</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>12</string>
			<key>emjStr</key>
			<string>[发怒]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/12</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>13</string>
			<key>emjStr</key>
			<string>[调皮]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/13</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>14</string>
			<key>emjStr</key>
			<string>[呲牙]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/14</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>15</string>
			<key>emjStr</key>
			<string>[惊讶]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/15</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>16</string>
			<key>emjStr</key>
			<string>[难过]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/16</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>17</string>
			<key>emjStr</key>
			<string>[酷]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/17</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>18</string>
			<key>emjStr</key>
			<string>[冷汗]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/18</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>19</string>
			<key>emjStr</key>
			<string>[抓狂]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/19</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>20</string>
			<key>emjStr</key>
			<string>[吐]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/20</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>21</string>
			<key>emjStr</key>
			<string>[偷笑]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/21</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>22</string>
			<key>emjStr</key>
			<string>[愉快]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/22</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>23</string>
			<key>emjStr</key>
			<string>[白眼]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/23</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>24</string>
			<key>emjStr</key>
			<string>[傲慢]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/24</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>25</string>
			<key>emjStr</key>
			<string>[饥饿]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/25</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>26</string>
			<key>emjStr</key>
			<string>[困]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/26</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>27</string>
			<key>emjStr</key>
			<string>[惊恐]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/27</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>28</string>
			<key>emjStr</key>
			<string>[流汗]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/28</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>29</string>
			<key>emjStr</key>
			<string>[憨笑]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/29</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>30</string>
			<key>emjStr</key>
			<string>[悠闲]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/30</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>31</string>
			<key>emjStr</key>
			<string>[奋斗]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/31</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>32</string>
			<key>emjStr</key>
			<string>[咒骂]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/32</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>33</string>
			<key>emjStr</key>
			<string>[疑问]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/33</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>34</string>
			<key>emjStr</key>
			<string>[嘘]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/34</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>35</string>
			<key>emjStr</key>
			<string>[晕]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/35</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>36</string>
			<key>emjStr</key>
			<string>[疯了]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/36</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>37</string>
			<key>emjStr</key>
			<string>[哀]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/37</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>38</string>
			<key>emjStr</key>
			<string>[骷髅]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/38</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>39</string>
			<key>emjStr</key>
			<string>[敲打]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/39</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>40</string>
			<key>emjStr</key>
			<string>[再见]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/40</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>41</string>
			<key>emjStr</key>
			<string>[擦汗]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/41</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>42</string>
			<key>emjStr</key>
			<string>[抠鼻]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/42</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>43</string>
			<key>emjStr</key>
			<string>[鼓掌]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/43</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>44</string>
			<key>emjStr</key>
			<string>[糗大了]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/44</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>45</string>
			<key>emjStr</key>
			<string>[坏笑]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/45</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>46</string>
			<key>emjStr</key>
			<string>[左哼哼]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/46</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>47</string>
			<key>emjStr</key>
			<string>[右哼哼]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/47</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>48</string>
			<key>emjStr</key>
			<string>[哈欠]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/48</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>49</string>
			<key>emjStr</key>
			<string>[鄙视]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/49</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>50</string>
			<key>emjStr</key>
			<string>[委屈]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/50</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>51</string>
			<key>emjStr</key>
			<string>[快哭了]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/51</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>52</string>
			<key>emjStr</key>
			<string>[阴险]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/52</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>53</string>
			<key>emjStr</key>
			<string>[亲亲]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/53</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>54</string>
			<key>emjStr</key>
			<string>[吓]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/54</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>55</string>
			<key>emjStr</key>
			<string>[可怜]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/55</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>56</string>
			<key>emjStr</key>
			<string>[菜刀]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/56</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>57</string>
			<key>emjStr</key>
			<string>[西瓜]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/57</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>58</string>
			<key>emjStr</key>
			<string>[啤酒]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/58</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>59</string>
			<key>emjStr</key>
			<string>[篮球]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/59</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>60</string>
			<key>emjStr</key>
			<string>[乒乓]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/60</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>61</string>
			<key>emjStr</key>
			<string>[咖啡]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/61</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>62</string>
			<key>emjStr</key>
			<string>[饭]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/62</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>63</string>
			<key>emjStr</key>
			<string>[猪头]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/63</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>64</string>
			<key>emjStr</key>
			<string>[玫瑰]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/64</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>65</string>
			<key>emjStr</key>
			<string>[凋谢]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/65</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>66</string>
			<key>emjStr</key>
			<string>[嘴唇]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/66</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>67</string>
			<key>emjStr</key>
			<string>[爱心]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/67</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>68</string>
			<key>emjStr</key>
			<string>[心碎]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/68</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>69</string>
			<key>emjStr</key>
			<string>[蛋糕]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/69</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>70</string>
			<key>emjStr</key>
			<string>[闪电]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/70</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>71</string>
			<key>emjStr</key>
			<string>[炸弹]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/71</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>72</string>
			<key>emjStr</key>
			<string>[刀]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/72</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>73</string>
			<key>emjStr</key>
			<string>[足球]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/73</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>74</string>
			<key>emjStr</key>
			<string>[飘虫]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/74</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>75</string>
			<key>emjStr</key>
			<string>[便便]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/75</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>76</string>
			<key>emjStr</key>
			<string>[月亮]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/76</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>77</string>
			<key>emjStr</key>
			<string>[太阳]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/77</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>78</string>
			<key>emjStr</key>
			<string>[礼物]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/78</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>79</string>
			<key>emjStr</key>
			<string>[拥抱]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/79</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>80</string>
			<key>emjStr</key>
			<string>[强]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/80</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>81</string>
			<key>emjStr</key>
			<string>[弱]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/81</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>82</string>
			<key>emjStr</key>
			<string>[握手]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/82</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>83</string>
			<key>emjStr</key>
			<string>[胜利]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/83</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>84</string>
			<key>emjStr</key>
			<string>[抱拳]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/84</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>85</string>
			<key>emjStr</key>
			<string>[勾引]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/85</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>86</string>
			<key>emjStr</key>
			<string>[拳手]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/86</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>87</string>
			<key>emjStr</key>
			<string>[差劲]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/87</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>88</string>
			<key>emjStr</key>
			<string>[爱你]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/88</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>89</string>
			<key>emjStr</key>
			<string>[NO]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/89</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>90</string>
			<key>emjStr</key>
			<string>[OK]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/90</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>91</string>
			<key>emjStr</key>
			<string>[爱情]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/91</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>92</string>
			<key>emjStr</key>
			<string>[飞吻]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/92</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>93</string>
			<key>emjStr</key>
			<string>[跳跳]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/93</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>94</string>
			<key>emjStr</key>
			<string>[发抖]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/94</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>95</string>
			<key>emjStr</key>
			<string>[怄火]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/95</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>96</string>
			<key>emjStr</key>
			<string>[转圈]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/96</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>97</string>
			<key>emjStr</key>
			<string>[磕头]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/97</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>98</string>
			<key>emjStr</key>
			<string>[回头]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/98</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>99</string>
			<key>emjStr</key>
			<string>[跳绳]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/99</string>
		</dict>
		<dict>
			<key>emjCodeID</key>
			<string>100</string>
			<key>emjStr</key>
			<string>[投降]</string>
			<key>emjImageName</key>
			<string>Emoj/QQFace/100</string>
		</dict>
	</array>
</dict>
</plist>
